<h1>demo</h1>

{{#each model as |item|}}
  <div>
    Item {{item.id}}

    <button onclick={{action (mut showIt) true}}>show it</button>

    {{#if showIt}}
      it: {{item.detailFields}}
    {{/if}}
  </div>
{{/each}}